<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
    <p>Para contactarse, envíe un correo electrónico a <a href="mailto:{{email}}">{{email}}</a></p>
  </body>
</html>
